body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
}

body {
  background: rgb(16, 113, 255);
  background: linear-gradient(
    0deg,
    rgb(96, 153, 100) 0%,
    rgb(55, 111, 200) 100%
  );

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

img {
    width: 340px;
    height: 340px;
    margin: 15px auto;
      border: 10px solid #ff0000;
      border-radius: 50%;
}

.descricao {
    width: 300px;
}

h2 {
    margin-bottom: 5px;
}

.duracao {
    width: 300px;
    margin-top: 25px;
}

.barra {
    width: 300px;
    height: 6px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    height: 6px;
    width: 0;
    background-color: #ff0000;
}

.ponto {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: -10px;
}

.tempo {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.botao-play, .botao-pause {
    font-size: 50px;
    cursor: pointer;
    color: #ff0000;
}

.setas {
    font-size: 40px;
    cursor: pointer;
}

.botao-pause {
    display: none;
}